@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');

.portfolio{
  background-color: black;
  line-height: 1.5;
}

.red{
  color: rgb(254, 62, 99);
  padding:0 1vw ;
}

.title{
  display: flex;
  color: white;
  padding-bottom: 1rem;
}
/* Inicio */

.main {
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;

  
}

.navBar {
  width: 100vw;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 200;
}

.logo {
  gap: 0.3rem;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoStyle1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(249, 134, 107);
  height: 45px;
  width: 45px;
  border-radius: 100%;
}

.logoStyleCenter1 {
  background-color: rgb(247, 88, 48);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  clip-path: polygon(0 0, 56% 0, 58% 100%, 0% 100%);
}

.logoStyle2 {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 156, 221);
  height: 45px;
  width: 45px;
  border-radius: 100%;
}

.logoStyleCenter2 {
  background-color: rgb(15, 128, 189);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  clip-path: polygon(0 0, 56% 0, 58% 100%, 0% 100%);
}

.logoStyle3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(212, 210, 89);
  height: 45px;
  width: 45px;
  border-radius: 100%;
}

.logoStyleCenter3 {
  background-color: rgb(235, 176, 99);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  clip-path: polygon(0 0, 56% 0, 58% 100%, 0% 100%);
}



.letter {
  position: absolute;
  font-size: 30px;
  color: white;
}

.btns {
  display: flex;
  font-size: 1.2rem;
  color: rgb(219, 216, 216);
  gap: 2vw;
}

.btn {
  padding: 0 1rem;
  height: 100px;
  display: flex;
  align-items: center;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0 40px 40px grey inset;
  transition: all 1s;
}


/* inicio ------------------------------------------------*/

.boxLeft {
  color: white;
  width: 65vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3vw;
  font-size: 3vw;
}

.name {
  font-size: 3.5vw;
  display: flex;
}

.typingBox{
  display: flex;
  align-items: center;

}
.typing{
  white-space: nowrap;
  overflow: hidden;
  font-size: 3vw;
  font-family: 'Special Elite', cursive;
  border-right: 2px solid rgb(255, 0, 0);
  animation: blinkCursor 500ms steps(25) infinite normal, typing 4s steps(25) 1s normal;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 45vw;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgb(255, 0, 0);
  }

  to {
    border-right-color: transparent;
  }
}

.btnsSocialMidia {
  padding-top: 2rem;
  display: flex;
  margin-left: 3vw;
  gap: 3vw;
}

.btnSocialMidia {
  width: 20vw;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 58, 94);
  padding: 1vw 3vw;
  transition: 1s;
}

.btnSocialMidia:hover {
  letter-spacing: 5px;
  cursor: pointer;
}

.boxRigth {
  position: absolute;
  margin-left: 65vw;
}

.rosto {
  animation: move 4s infinite;
}

@keyframes move {
  0% {
    transform: translateY(0.2in);
  }

  50% {
    transform: translateY(-0.2in);
  }

  100% {
    transform: translateY(0.2in);
  }
}

@media (max-width: 1600px) {
  .rosto {
    width: 15vw;
    height: 15vw;
  }

  .line {}
}



/* Sobre mim ---------------------------------------*/

.aboutContainer {
  height: 80vh;
  display: flex;
  align-items: center;
}

.aboutboxLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.foto {
  clip-path: polygon(15% 0, 84% 0, 100% 100%, 0% 100%);
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to top, grey, grey) 1;
}


.logo_2 {
  z-index: 100;
  margin-top: -3rem;
  gap: 0.5rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.logoStyle1_2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(249, 134, 107);
  height: 55px;
  width: 55px;
  border-radius: 100%;
  animation: swing 8s infinite;
}

@keyframes swing {
  0% {
    margin-left: -8rem;
  }

  50% {
    margin-left: 8rem;
  }

  100% {
    margin-left: -8rem;
  }
}

.logoStyleCenter1_2 {
  background-color: rgb(247, 88, 48);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  clip-path: polygon(0 0, 56% 0, 58% 100%, 0% 100%);
}

.logoStyle2_2 {
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 156, 221);
  height: 55px;
  width: 55px;
  border-radius: 100%;
}

.logoStyleCenter2_2 {
  background-color: rgb(15, 128, 189);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  clip-path: polygon(0 0, 56% 0, 58% 100%, 0% 100%);
}

.logoStyle3_2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(212, 210, 89);
  height: 55px;
  width: 55px;
  border-radius: 100%;
  animation: swing2 8s infinite;
}

@keyframes swing2 {
  0% {
    margin-left: 8rem;
  }

  50% {
    margin-left: -8rem;
  }

  100% {
    margin-left: 8rem;
  }
}

.logoStyleCenter3_2 {
  background-color: rgb(235, 176, 99);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  clip-path: polygon(0 0, 56% 0, 58% 100%, 0% 100%);
}

.aboutboxRigth {
  font-size: 1.5vw;
  text-align: left;
  color: white;
  width: 45vw;
}


@media (max-width: 1600px) {
  .foto {
    width: 25vw;
    height: 25vw;
  }


}

/* Projetos ---------------------------------------*/

.projectsContainer {
  scroll-behavior: smooth;
  scroll-padding-top: 14rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 1.5rem;

}

.projectText{
  color: rgb(192, 186, 186);
  font-size: 2vw;
}

.projectContainerTop{
  display: flex;
  gap: 2rem;
}
.projectBoxLeft{
  width: 40vw;
  height: 20vw;
  border: 2px solid blue;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projectBtnLeft{
  color: blue;
}

.projectBoxRight{
  width: 40vw;
  height: 20vw;
  border: 2px solid red; 
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.projectBtnRight{
  color: red;
}

.projectBoxBottom{
  width: 83vw;
  height: 20vw;
  border: 2px solid green; 
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.projectBtnBottom{
  color: green;
}

.projectBtnsContainer{
  display: flex;
  justify-content: space-around;
}

.boxbtnMore {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnMore {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 1s;
}

.btnMore:hover {
  background-color: rgb(114, 60, 48, 0.5);
}


@media (max-width: 1600px) {
  .fotoProject {
    width: 20vw;
    height: 20vw;
  }


}

/* Habilidades ---------------------------------------*/

.habilitiesContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.habBoxContainer {
  display: flex;
  padding-top: 2rem;
  gap: 3rem;
}

.habLeftBox {
  height: 50vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.fotohabilities {
  cursor: pointer;
}

.habRigthBox {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  height: 50vh;
  width: 40vw;
}

.textSkill {
  padding-top: 1rem;
  font-size: 2vw;
}

.boxSkill1 {
  width: 40vw;
  min-height: 20vw;
  position: absolute;
  transition: 2s;
  animation: fade1 1s;
}

@keyframes fade1 {
  0% {
    margin-left: 8rem;
    opacity: 0;
  }

  100% {
    margin-left: 0rem;
  }
}

.boxSkill2 {
  width: 40vw;
  min-height: 20vw;
  position: absolute;
  transition: 2s;
  animation: fade2 1s;
}

@keyframes fade2 {
  0% {
    margin-left: 8rem;
    opacity: 0;
  }

  100% {
    margin-left: 0rem;
  }
}

.boxSkill3 {
  width: 40vw;
  min-height: 20vw;
  position: absolute;
  transition: 2s;
  animation: fade3 1s;
}

@keyframes fade3 {
  0% {
    margin-left: 8rem;
    opacity: 0;
  }

  100% {
    margin-left: 0rem;
  }
}

.boxSkill4 {
  width: 40vw;
  min-height: 20vw;
  position: absolute;
  transition: 2s;
  animation: fade4 1s;
}

@keyframes fade4 {
  0% {
    margin-left: 8rem;
    opacity: 0;
  }

  100% {
    margin-left: 0rem;
  }
}

.boxSkill5 {
  width: 40vw;
  min-height: 20vw;
  position: absolute;
  transition: 2s;
  animation: fade5 1s;
}

@keyframes fade5 {
  0% {
    margin-left: 8rem;
    opacity: 0;
  }

  100% {
    margin-left: 0rem;
  }
}

.boxSkill6 {
  width: 40vw;
  min-height: 20vw;
  position: absolute;
  transition: 2s;
  animation: fade6 1s;
}

@keyframes fade6 {
  0% {
    margin-left: 8rem;
    opacity: 0;
  }

  100% {
    margin-left: 0rem;
  }
}



@media (max-width: 1700px) {
  .fotohabilities {
    width: 8vw;
    height: 8vw;
  }
}

/* footer ---------------------------------*/

.footerContainer {

  background-color: rgb(46, 24, 19);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerCollumn{
  display: flex;
}
.footerBox{
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1vw;
}
.footericon {
  margin-right: 1rem;
  cursor: pointer;
  width: 2vw;
  height: 2vw;
}