@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');

.portfolio {
  background-color: black;
  line-height: 1.5;
}


.red {
  color: rgb(254, 62, 99);
  padding: 0 1vw;
}

.title {
  display: flex;
  color: white;
  padding-bottom: 1rem;
}

/* navBar */

.main {
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  z-index: 10;

}

.navBar {
  width: 100vw;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 200;
}

.logo {
  gap: 0.3rem;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoStyle1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(249, 134, 107);
  height: 45px;
  width: 45px;
  border-radius: 100%;
}

.logoStyleCenter1 {
  background-color: rgb(247, 88, 48);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  clip-path: polygon(0 0, 56% 0, 58% 100%, 0% 100%);
}

.logoStyle2 {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 156, 221);
  height: 45px;
  width: 45px;
  border-radius: 100%;
}

.logoStyleCenter2 {
  background-color: rgb(15, 128, 189);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  clip-path: polygon(0 0, 56% 0, 58% 100%, 0% 100%);
}

.logoStyle3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(212, 210, 89);
  height: 45px;
  width: 45px;
  border-radius: 100%;
}

.logoStyleCenter3 {
  background-color: rgb(235, 176, 99);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  clip-path: polygon(0 0, 56% 0, 58% 100%, 0% 100%);
}

.letter {
  position: absolute;
  font-size: 30px;
  color: rgb(201, 197, 197);
}

.btns {
  display: flex;
  font-size: 1.2rem;
  color: rgb(219, 216, 216);
  gap: 2vw;
}

.hideBtns {
  display: flex;
  font-size: 1.2rem;
  color: rgb(219, 216, 216);
  gap: 2vw;
}

.btn {
  padding: 0 1rem;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.hideBtn {
  padding: 0 1rem;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.btn::after,.hideBtn::after {
  content: " ";
  width: 0;
  height: 1px;
  background-image: linear-gradient(to right, black, rgb(255, 58, 94));
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}


.btn:hover, .hideBtn:hover {
  transition: 0.3s;
  color: white;
}

.btn:hover::after, .hideBtn:hover::after {
  width: 100%;
}


@media (max-width: 720px) {
  .logo {
    gap: 0.3rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hideBtn {
    padding: 0 1rem;
    height: 50px;
    display: flex;
    align-items: center;
    visibility: hidden;
    z-index: 0;
  }

  .btns {
    width: 100vw;
    top: 100px;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: rgb(219, 216, 216);
    gap: 2vw;
    background-color: black;
    transition: 0.5s;
  }

  .HideBtns {
    z-index: 0;
    margin-left: -250vw;
    width: 50px;
    top: 100px;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: rgb(219, 216, 216);
    gap: 2vw;
    border-right: 1px solid white;
    transition: 1s;
  }


  .lines {
    position: absolute;
    padding-left: 90vw;
    display: inherit;
    flex-direction: column;
    height: 60%;
    margin-left: -2rem;
    margin-right: 2rem;
    justify-content: center;
    gap: 0.5rem;
  }

  .line1 {
    background-color: white;
    width: 49px;
    height: 3px;
    transition: 1s all ease;
  }

  .line1Active {
    background-color: white;
    width: 49px;
    height: 3px;
    margin-bottom: -18px;
    transform: rotate(150deg);
    transition: 1s all ease;
  }

  .line2 {
    background-color: white;
    width: 49px;
    height: 3px;
  }

  .line2Active {
    background-color: black;
  }

  .line3 {
    background-color: white;
    width: 49px;
    height: 3px;
    transition: 1s all ease;
  }

  .line3Active {
    background-color: white;
    width: 49px;
    height: 3px;
    transform: rotate(-150deg);
    transition: 1s all ease;
  }

  .navBar {
    width: 100vw;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 200;
    transition: 0.3s;
  }



}


/* inicio ------------------------------------------------*/

.boxLeft {
  color: white;
  width: 65vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3vw;
  font-size: 3vw;
}

.name {
  font-size: 3.5vw;
  display: flex;
}

.typingBox {
  display: flex;
  align-items: center;

}

.typing {
  white-space: nowrap;
  overflow: hidden;
  font-size: 3vw;
  font-family: 'Special Elite', cursive;
  border-right: 2px solid rgb(255, 0, 0);
  animation: blinkCursor 500ms steps(25) infinite normal, typing 4s steps(25) 1s normal;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 45vw;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgb(255, 0, 0);
  }

  to {
    border-right-color: transparent;
  }
}

.btnsSocialMidia {
  padding-top: 2rem;
  display: flex;
  margin-left: 3vw;
  gap: 3vw;
}

.btnSocialMidia {
  width: 20vw;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 58, 94);
  padding: 1vw 3vw;
  transition: 0.3s;
}

.btnSocialMidia:hover {
  letter-spacing: 5px;
  cursor: pointer;
}

.boxRigth {
  position: absolute;
  margin-left: 65vw;
}

.rosto {
  image-rendering: pixelated;
  animation: move 4s infinite;
}

@keyframes move {
  0% {
    transform: translateY(0.2in);
  }

  50% {
    transform: translateY(-0.2in);
  }

  100% {
    transform: translateY(0.2in);
  }
}

@media (max-width: 1600px) {
  .rosto {
    width: 15vw;
    height: 15vw;
    image-rendering: pixelated;
  }

}

@media (max-width: 720px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .boxRigth {
    position: absolute;
  }

  @keyframes move {
    0% {
      transform: translateX(0.2in);
    }

    50% {
      transform: translateX(-0.2in);
    }

    100% {
      transform: translateX(0.2in);
    }
  }

  .boxLeft {
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3vw;
    font-size: 3vw;
  }

  .rosto {
    visibility: hidden;
  }

}

/* Sobre mim ---------------------------------------*/

.aboutContainer {
  height: 80vh;
  display: flex;
  align-items: center;
}

.aboutboxLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.foto {
  clip-path: polygon(15% 0, 84% 0, 100% 100%, 0% 100%);
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to top, grey, grey) 1;
}


.logo_2 {
  z-index: 100;
  margin-top: -3rem;
  gap: 0.5rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.logoStyle1_2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(249, 134, 107);
  height: 55px;
  width: 55px;
  border-radius: 100%;
  animation: swing 8s infinite;
}

@keyframes swing {
  0% {
    margin-left: -8rem;
  }

  50% {
    margin-left: 8rem;
  }

  100% {
    margin-left: -8rem;
  }
}

.logoStyleCenter1_2 {
  background-color: rgb(247, 88, 48);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  clip-path: polygon(0 0, 56% 0, 58% 100%, 0% 100%);
}

.logoStyle2_2 {
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 156, 221);
  height: 55px;
  width: 55px;
  border-radius: 100%;
}

.logoStyleCenter2_2 {
  background-color: rgb(15, 128, 189);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  clip-path: polygon(0 0, 56% 0, 58% 100%, 0% 100%);
}

.logoStyle3_2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(212, 210, 89);
  height: 55px;
  width: 55px;
  border-radius: 100%;
  animation: swing2 8s infinite;
}

@keyframes swing2 {
  0% {
    margin-left: 8rem;
  }

  50% {
    margin-left: -8rem;
  }

  100% {
    margin-left: 8rem;
  }
}

.logoStyleCenter3_2 {
  background-color: rgb(235, 176, 99);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  clip-path: polygon(0 0, 56% 0, 58% 100%, 0% 100%);
}

.aboutboxRigth {
  font-size: 1.5vw;
  text-align: left;
  color: white;
  width: 45vw;
}

.aboutTitle{
  font-size: 1em;
}

.btnLabenu {
  color: rgb(255, 58, 94);
  border-bottom: 1px solid rgb(255, 58, 94);
}

.btnLabenu:hover {
  cursor: pointer;
  color: grey;
  border-bottom: 1px solid grey;
  transition: 0.3s;
}


@media (max-width: 1600px) {
  .foto {
    width: 25vw;
    height: 25vw;
  }


}

@media (max-width: 720px) {
  .aboutContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .foto {
    width: 180px;
    height: 180px;
  }

  .aboutboxRigth {
    font-size: 2.5vw;
    text-align: left;
    color: white;
    width: 65vw;
  }
}

/* Projetos ---------------------------------------*/

.projectsContainer {
  scroll-behavior: smooth;
  scroll-padding-top: 14rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 1.5rem;
  position: relative;
}

.projectText {
  color: rgb(192, 186, 186);
  font-size: 2vw;
}

.projectContainerTop {
  display: flex;
  gap: 2rem;
}

.projectBoxLeft {
  width: 40vw;
  height: 20vw;
  border: 2px solid blue;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.projectBtnLeft {
  color: blue;
}


.projectBtnLeft {
  padding: 0 1rem;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.projectBtnRight {
  color: red;
  padding: 0 1rem;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.projectBtnBottom {
  color: green;
  padding: 0 1rem;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.projectBtnLeft::after {
  background-image: linear-gradient(to right, black, blue);
}

.projectBtnRight::after {
  background-image: linear-gradient(to right, black, red);
}

.projectBtnBottom::after {
  background-image: linear-gradient(to right, black, green);
}

.projectBtnLeft::after,
.projectBtnRight::after,
.projectBtnBottom::after {
  content: " ";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}


.projectBtnLeft:hover::after,
.projectBtnRight:hover::after,
.projectBtnBottom:hover::after {
  width: 100%;
}

.projectBtnLeft:hover,
.projectBtnRight:hover,
.projectBtnBottom:hover {
  cursor: pointer;
}

.projectBoxRight {
  width: 40vw;
  height: 20vw;
  border: 2px solid red;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.projectBoxBottom {
  width: 83vw;
  height: 20vw;
  border: 2px solid green;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.projectBtnsContainer {
  display: flex;
  justify-content: space-around;
}

.boxbtnMore {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnMore {
  font-size:2em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.btnMore:hover {
  background-image: linear-gradient(to bottom, rgb(247, 88, 48), rgb(28, 156, 221), rgb(212, 210, 89));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}


@media (max-width: 1600px) {
  .fotoProject {
    width: 20vw;
    height: 20vw;
  }


}

@media (max-width: 720px) {

  .btnMore {
    font-size: 2em;
    padding-bottom: 2em;
  }

  .projectContainerTop {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .projectBoxBottom {
    width: 85vw;
    height: 20vw;
    border: 2px solid green;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .projectBoxLeft {
    width: 85vw;
    height: 20vw;
    border: 2px solid blue;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .projectBoxRight {
    width: 85vw;
    height: 20vw;
    border: 2px solid red;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

}

@media (max-width: 520px) {

  .projectBoxRight, .projectBoxLeft, .projectBoxBottom {
    width: 85vw;
    height: 50vw;
    align-items: center;
  }

  .projectBtnsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .projectText {
    text-align: center;
    color: rgb(192, 186, 186);
    font-size: 1em;
  }

}
@media (max-width: 400px) {

  .projectBoxRight, .projectBoxLeft, .projectBoxBottom {
    width: 85vw;
    height: 70vw;
    align-items: center;
  }
}

@media (max-width: 300px) {

  .projectBoxRight, .projectBoxLeft, .projectBoxBottom {
    width: 85vw;
    height: 90vw;
    align-items: center;
  }
}

/* Habilidades ---------------------------------------*/

.habilitiesContainer {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.habBoxContainer {
  display: flex;
  padding-top: 2rem;
  gap: 3rem;
}

.habLeftBox {
  min-height: 50vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.fotohabilities {
  cursor: pointer;
}

.habRigthBox {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  height: 50vh;
  width: 40vw;
}

.textSkill {
  padding-top: 1rem;
  font-size: 2vw;
}

.boxSkill1 {
  width: 40vw;
  min-height: 20vw;
  position: absolute;
  transition: 2s;
  animation: fade1 1s;
}

@keyframes fade1 {
  0% {
    margin-left: 8rem;
    opacity: 0;
  }

  100% {
    margin-left: 0rem;
  }
}

.boxSkill2 {
  width: 40vw;
  min-height: 20vw;
  position: absolute;
  transition: 2s;
  animation: fade2 1s;
}

@keyframes fade2 {
  0% {
    margin-left: 8rem;
    opacity: 0;
  }

  100% {
    margin-left: 0rem;
  }
}

.boxSkill3 {
  width: 40vw;
  min-height: 20vw;
  position: absolute;
  transition: 2s;
  animation: fade3 1s;
}

@keyframes fade3 {
  0% {
    margin-left: 8rem;
    opacity: 0;
  }

  100% {
    margin-left: 0rem;
  }
}

.boxSkill4 {
  width: 40vw;
  min-height: 20vw;
  position: absolute;
  transition: 2s;
  animation: fade4 1s;
}

@keyframes fade4 {
  0% {
    margin-left: 8rem;
    opacity: 0;
  }

  100% {
    margin-left: 0rem;
  }
}

.boxSkill5 {
  width: 40vw;
  min-height: 20vw;
  position: absolute;
  transition: 2s;
  animation: fade5 1s;
}

@keyframes fade5 {
  0% {
    margin-left: 8rem;
    opacity: 0;
  }

  100% {
    margin-left: 0rem;
  }
}

.boxSkill6 {
  width: 40vw;
  min-height: 20vw;
  position: absolute;
  transition: 2s;
  animation: fade6 1s;
}

@keyframes fade6 {
  0% {
    margin-left: 8rem;
    opacity: 0;
  }

  100% {
    margin-left: 0rem;
  }
}



@media (max-width: 1700px) {
  .fotohabilities {
    width: 8vw;
    height: 8vw;
  }
}

@media (max-width: 520px) {

  .fotohabilities {
    width: 50px;
    height: 50px;
  }

  .habilitiesContainer {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .habBoxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 0.5rem;
  }
  

  .habLeftBox {
    min-height: 20vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .fotohabilities {
    cursor: pointer;
  }
  
  .habRigthBox {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    min-height: 45vh;
    width: 90vw;
  }

  .boxSkill1, .boxSkill2, .boxSkill3, .boxSkill4, .boxSkill5, .boxSkill6 {
    width: 80vw;
  }

  .textSkill {
    padding-top: 1rem;
    font-size: 0.4em;
  }

}

/* footer ---------------------------------*/

.footerContainer {
  background-color: rgb(46, 24, 19);
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerCollumn {
  display: flex;
  gap: 1em;
}

.footerBox {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1vw;
}

.footericon {
  cursor: pointer;
  width: 2vw;
  height: 2vw;
  gap: 1em;
}

.footerCollumnIcons {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

@media (max-width: 1000px) {
 
  .footerContainer {
    background-color: rgb(46, 24, 19);
    height: 10rem;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2em;
  }
  
  .footerCollumn {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .footerCollumnIcons {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  
  .footerBox {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1em;
  }
  
  .footericon {
    cursor: pointer;
    width: 2em;
    height: 2em;
    gap: 1em;
  }
}
@media (max-width: 400px) {
 
  .footerContainer {
    background-color: rgb(46, 24, 19);
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 2em;
  }

  .footerCollumnIcons {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
}